[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RZooRoH"]
	path = RZooRoH
	url = https://github.com/cran/RZooRoH
	shallow = true
	registered = true
